#firstHalf{
    background-image: url(../resources/img/MAINMENU.png);
    height: 720px;
    background-size: contain;
    background-repeat: no-repeat;
}
.menu div:first-child{
    margin-top: 150px;
}
.menu div button{
    font-size: 50px;
    margin: 5px 0 5px 50px;
    width: 400px
}
.menu div:nth-child(1) button{
    background-image: url(../resources/img/mix1.jpg);
    background-repeat: no-repeat;
    background-position-x: 23%;
}
.menu div:nth-child(2) button{
    background-image: url(../resources/img/mix2.jpg);
    background-repeat: no-repeat;
    background-position-x: 80%;
}
.menu div:nth-child(3) button{
    background-image: url(../resources/img/mix3.jpg);
    background-repeat: no-repeat;
    background-position-x: 30%;
}
.menu div:nth-child(4) button{
    background-image: url(../resources/img/mix4.jpg);
    background-repeat: no-repeat;
    background-position-x: 1%;
}